@import "../../variaveis.scss";

ion-header{
    ion-toolbar{
        --background: $cor-primaria;

        ion-title{
            text-align: center;
            font-weight: bold;
            ion-icon{
                vertical-align: middle;
                margin-right: 20px;
                float: left;
            }
        }
    }    
}

ion-content{
    .linha-header{
        background-color: $cor-primaria;

        .coluna-header{
            padding: 1% 25px;

            .titulo-header{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;

                ion-icon{
                    font-size: 20px;
                    vertical-align: middle;
                    margin-right: 15px;
                }
            }
        }
    }
    
    .linha-titulo{
        margin-top: 30px;
    }

    .bloco-beneficios{
        .linha-beneficios{
            padding: 15px;
            .item-beneficio{
                display: inline-table;
                height: 60px;
                width: 60px;
            }
        }
    }

    .linha-link{
        .coluna-link{
            padding: 15px;

            .btn{
                width: 100%;
                background-color: $cor-primaria;
                border-color: $cor-primaria;
                color: $cor-texto-link-clube-beneficios;
                font-weight: bold;
            }
        }
    }
}