<ion-header [hidden]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon (click)="voltar()" name="arrow-back-outline"></ion-icon>
      Clube de Benefícios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row linha-header">
    <div class="col-12 coluna-header">
      <p class="titulo-header">
        <ion-icon (click)="voltar()" name="arrow-back-outline"></ion-icon>
        Clube de Benefícios
      </p>
    </div>
  </div>

  <div class="row linha-titulo">
    <div class="col-12">
      <h3 class="text-center text-bold">Conheça nosso clube de benefícios!</h3>
    </div>
  </div>
  <div class="row bloco-beneficios">
    <div class="col-12 linha-beneficios">
      <div class="item-beneficio">
        <img src="../../assets/beneficios/Drogaria_pacheco.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/Drogaria_SP.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/extra-logo.svg" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/GB.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/hering.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/Jequiti.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/Labi_exames.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/LeroyMerlin.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/MAGALU.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/marisa.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/marisa.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/natura.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/neves.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/OTICA_DINIZ.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/RCHLO.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/Renner.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/sans_club.png" />
      </div>
      <div class="item-beneficio ml-10">
        <img src="../../assets/beneficios/tim_controle.png" />
      </div>
    </div>
  </div>

  <div class="row linha-link">
    <div class="col-12 coluna-link">
      <a class="btn btn-primary" href="https://janpp.clubeben.com.br/" target="_blank">Acessar Clube de Benefícios</a>
      <!-- <a class="btn btn-primary">Acessar Clube de Benefícios</a> -->
    </div>
  </div>
</ion-content>
