$cor-primaria: rgb(33, 40, 156);
$cor-texto: white;
$cor-texto-invertido: black;
$cor-branco: white;
$cor-cinza-claro: #E1E1E1;
$cor-texto-header: white;
$background-dia-selecionado: white;
$cor-texto-dia-selecionado: black;
$cor-texto-botao-beneficios: white;
$cor-text-botao-tab : white;
$cor-texto-link-clube-beneficios: white;
$url-logo: url("../src/assets/logo doc24.jpeg");
$min-height-bloco-login: 85vh;