$cor-primaria: #E0FE31;
$cor-texto: black; // #AFB7BB;
$cor-texto-invertido: white;
$cor-branco: white;
$cor-cinza-claro: #E1E1E1;
$cor-texto-header: black;
$background-dia-selecionado: rgb(57, 85, 91);
$cor-texto-dia-selecionado: white;
$cor-texto-botao-beneficios: black;
$cor-text-botao-tab : black;
$cor-texto-link-clube-beneficios: black;
$url-logo: url("../src/assets/logo JANPP.png");
$min-height-bloco-login: 66vh;